@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.portada-welcome {
  background: url("../assets/Group1.svg"), linear-gradient(154deg, #0047FF 0%, #DADADA 124.22%);
  width: 19.6875rem;
  height: 23.625rem;
  border-radius: 1.5625rem;
  position: relative;
}

.pinA, .pinB, .logo {
  position: absolute;
}

.pinA {
  width: 5.4375rem;
  aspect-ratio: 1/1;
  margin-top: 4.12rem;
  margin-left: 9.94rem;
}

.pinB {
  width: 7.3125rem;
  aspect-ratio: 1/1;
  margin-top: -1.5rem;
  margin-left: 13.06rem;
}

.logo {
  width: 17.8125rem;
  height: 7.3125rem;
  margin-top: 13.81rem;
  margin-left: 0.94rem;
}

.copete {
  width: 19.6875rem;
  margin-top: 0.94rem;
  display: flex;
  justify-content: space-between;
}

.texto-copete p {
  font-size: 0.75rem;
  width: 7.31rem;
  line-height: 0.9375rem;
  margin-left: 0.37rem;
  color: #FFF;
}
.texto-copete img {
  width: 6.125rem;
  height: 2.25rem;
}

.boton {
  width: 10.87rem;
  height: 3.7rem;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 0.94rem;
}

.linea10 {
  flex: 1;
}

.group9 {
  margin-left: -16%;
}

.logoP5 {
  width: 50px;
  height: 80px;
  position: absolute;
  bottom: 0;
  background-image: url("../assets/logoP5_color_5.svg");
  background-position: 50% 50%;
}

@media (min-width: 800px) {
  .logoP5 {
    background-image: url("../assets/logo_plataforma5_color.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-left: 37rem;
    margin-bottom: 1rem;
  }
  .portada-welcome {
    width: 49.6875rem;
    height: 23.625rem;
  }
  .pinB {
    margin-left: 43.94rem;
    width: 9.5rem;
    top: -2rem;
  }
  .pinA {
    margin-left: 40.94rem;
    margin-top: 3.12rem;
    width: 6rem;
  }
  .copete {
    width: 49rem;
  }
  .texto-copete {
    width: 20rem;
  }
  .texto-copete p {
    width: 100ch;
    font-size: 1rem;
  }
  .texto-copete img {
    width: 9.125rem;
    height: 3.25rem;
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.navbar img {
  margin-left: 5px;
  vertical-align: middle;
}

.navbar2 {
  display: none;
}

.linea {
  border-bottom: solid #FFF 1px;
  margin-top: 0.7rem;
}

.titulo {
  width: 200px;
  display: block;
}

.subtitulo {
  font-size: 18px;
  color: #FFF;
}

.solapa {
  width: 8.6875rem;
  border: solid #FFF 1px;
  border-bottom: none;
  color: #FFF;
  background: #0047FF;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
}
.solapa img {
  padding: 1rem 0.6rem 1rem 0.9rem;
}

.contenido {
  font-family: "Roboto";
  border: solid #FFF 1px;
  border-radius: 0 15px 15px 15px;
  padding: 0.94rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.preview {
  border: solid #FFF 1px;
  border-radius: 0 25px 25px 25px;
  background: #0047FF;
  padding: 0.94rem;
  min-height: 117p;
  color: #FFF;
}

.texto {
  font-size: 14px;
  line-height: 20px;
}
.texto p {
  font-family: "Roboto";
}
.texto span {
  color: #EF88BD;
}
.texto .green {
  color: #01FF1A;
}
.texto .orange {
  color: #FFB800;
}
.texto .pink {
  color: #EF88BD;
}
.texto .blue {
  color: #39B8FF;
}

.input-box {
  border: #FFF solid 1px;
  margin-bottom: 0.5rem;
  border-radius: 40px;
  display: flex;
  text-align: center;
  padding: 0.3rem;
}
.input-box input {
  background-color: inherit;
  border: none;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
.input-box input::placeholder {
  color: #FFF;
  font-size: 0.9rem;
}

.user-logo {
  border: solid 1px #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.forgotPassword {
  text-align: right;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  color: #FFB800;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  border: 1px solid #FFF;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
}

.pinA2 {
  display: none;
}

.pinB2 {
  display: none;
}

@media (min-width: 800px) {
  .linea {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.94rem;
  }
  .navbar2 img {
    margin-left: 5px;
    vertical-align: middle;
  }
  .titulo {
    width: 250px;
  }
  .subtitulo {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .pinA2 {
    display: block;
    margin-left: 37.94rem;
    margin-top: 4.72rem;
    width: 4rem;
  }
  .pinB2 {
    display: block;
    margin-left: 40.5rem;
    margin-top: 6.4rem;
    width: 6.5rem;
  }
}
.download, .like-button {
  cursor: pointer;
}

.selects {
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
  font-size: 13px;
  padding: 0.6rem 0.8rem;
  margin-bottom: 0.5rem;
  color: #FFF;
}

.contenido-home {
  margin: 0 -0.94rem -0.94rem -0.94rem;
  border: 1px solid #FFF;
  border-radius: 0 25px 25px 25px;
  padding: 0.94rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ace-content {
  border: 1px solid #FFF;
  border-radius: 0 25px 25px 25px;
  padding-left: 6px;
  padding-bottom: 10px;
  flex-grow: 1;
}
.ace-content img {
  margin-left: 0px;
  margin-bottom: 2px;
}

.ace {
  border-radius: 0 25px 25px 25px;
}

.selects-div {
  display: flex;
  flex-direction: column;
}

.navbar3 {
  display: none;
}

@media (min-width: 800px) {
  .selects-div {
    border: 1px solid white;
    padding: 1rem;
    background-color: #0047FF;
    border-radius: 25px;
    margin-top: 1.4rem;
    margin-bottom: -1rem;
    margin-left: -0.94rem;
    margin-right: -0.94rem;
    border-bottom-left-radius: 0;
    display: inline-block;
  }
  .navbar3 {
    display: block;
  }
}
.profile-pic-figure {
  width: 35%;
  margin: 0 auto;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.button-small-container {
  display: flex;
  justify-content: flex-end;
}

.update-button {
  border: 1px solid #FFF;
  border-radius: 30px;
  background-color: transparent;
  padding: 5px 20px;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
}

.favs-container {
  overflow: auto;
  height: 200px;
}

.one-user-fav {
  color: #FFF;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #FFF;
}

.color-fav {
  display: inline-block;
  margin-left: 0.4rem;
  width: 20px;
  height: 20px;
  border: #FFF 2px solid;
  border-radius: 10px;
}

.fav-buttons-container {
  display: flex;
  justify-content: flex-start;
}

.fav-buttons {
  padding: 3px 10px;
  font-size: 11px;
  margin-right: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

input {
  caret-color: #FFB800;
  color: #FFF;
}

input:focus {
  outline: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}

.top {
  margin-top: 0.94rem;
}

.mini-top {
  margin-top: 0.42rem;
}

.font-me {
  font-family: "Poppins", sans-serif !important;
}

.notis {
  font-family: Poppins;
}

.all {
  background-color: #0047FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  min-height: 85vh;
  background: linear-gradient(154deg, #0047FF 0%, #DADADA 124.22%);
  width: 19.6875rem;
  border-radius: 25px;
  padding: 0.94rem;
  display: flex;
  flex-direction: column;
}

.home-icon-div {
  display: flex;
  margin-left: 5px;
  border: solid 1px #FFF;
  border-radius: 10px;
  padding: 2px;
  justify-content: center;
}
.home-icon-div img {
  margin: 0 auto;
}

.button-container2 {
  display: none;
}

@media (min-width: 800px) {
  .box {
    width: 50rem;
  }
  .solapa {
    margin-left: -0.94rem;
  }
  .contenido-big {
    width: 50vh;
  }
  .contenido {
    background-color: #0047FF;
    margin: -0.94rem;
    margin-top: 0;
  }
  .button-container2 {
    display: flex;
    justify-content: flex-end;
  }
  .button-container {
    display: none;
  }
  .box {
    background: url("../assets/Group1.svg"), linear-gradient(154deg, #0047FF 0%, #DADADA 124.22%);
  }
}

/*# sourceMappingURL=App.css.map */
