.download, .like-button
  cursor: pointer

.selects
  appearance: none
  background-color: transparent
  border: 1px solid white
  border-radius: 40px
  font-size: 13px
  padding:  0.6rem 0.8rem
  margin-bottom: 0.5rem
  color: $color-principal1
  
.contenido-home
  margin: 0 -0.94rem -0.94rem -0.94rem
  border: 1px solid $color-principal1
  border-radius: 0 25px 25px 25px
  padding: 0.94rem
  flex-grow: 1

.ace
  border: 1px solid $color-principal1
  border-radius: 0 15px 15px 15px

