.selects
  appearance: none
  background-color: transparent
  border: 1px solid white
  border-radius: 40px
  font-size: 13px
  padding:  0.6rem 0.8rem
  margin-bottom: 0.5rem
  color: $color-principal1
  
.contenido-home
  border-radius: 0 25px 25px 25px
  border: 1px solid $color-principal1
  padding: 0.94rem
  flex-grow: 1
  margin: 0 -0.94rem -0.94rem -0.94rem

.ace-cont
  overflow: hidden
  border-radius: 0 15px 15px 15px
  border: 1px solid $color-principal1

