.download, .like-button
  cursor: pointer

.selects
  appearance: none
  background-color: transparent
  border: 1px solid white
  border-radius: 40px
  font-size: 13px
  padding:  0.6rem 0.8rem
  margin-bottom: 0.5rem
  color: $color-principal1
  
.contenido-home
  margin: 0 -0.94rem -0.94rem -0.94rem
  border: 1px solid $color-principal1
  border-radius: 0 25px 25px 25px
  padding: 0.94rem
  flex-grow: 1
  display: flex
  flex-direction: column

.ace-content
  border: 1px solid $color-principal1
  border-radius: 0 25px 25px 25px
  padding-left: 6px  
  padding-bottom: 10px
  flex-grow: 1
  img    
    margin-left: 0px
    margin-bottom: 2px
  
.ace
  border-radius: 0 25px 25px 25px

.selects-div
  display: flex
  flex-direction: column

.navbar3 
  display: none
 
@media (min-width: 800px)
  .selects-div
    border: 1px solid white
    padding: 1rem
    background-color: $color-principal3
    border-radius: 25px
    margin-top: 1.4rem
    margin-bottom: -1rem
    margin-left: -0.94rem
    margin-right: -0.94rem
    border-bottom-left-radius: 0
    display: inline-block
  .selects
    // width: 100px
  .navbar3
    display: block
 