.box
  min-height: 85vh
  background: linear-gradient(154deg, $color-principal3 0%, $color-principal2 124.22%)
  width: 19.6875rem
  border-radius: 25px
  padding: 1rem
  display: flex
  flex-direction: column

.navbar
  display: flex
  justify-content: flex-end

.navbar-button
  border: solid 1px $color-principal1
  border-radius: 10px
  width: 2rem
  height: 2rem
  display: flex
  justify-content: center
  align-items: center

.linea
  border-bottom: solid $color-principal1 1px
  margin-top: 0.7rem
  
.titulo
  width: 200px
  display: block

.subtitulo
  font-size: 18px

.solapa
  width: 8.6875rem
  border: solid $color-principal1 1px
  border-bottom: none
  background: $color-principal3
  border-top-right-radius: 15px 
  display: flex
  align-items: center
  img
    padding: 1rem 0.6rem 1rem 0.9rem
  

.contenido
  border: solid $color-principal1 1px
  border-radius: 0 15px 15px 15px
  padding: 1rem
  flex-grow: 1

.preview
  border: solid $color-principal1 1px
  border-radius: 0 25px 25px 25px
  background: $color-principal3
  padding: 1rem

.input-box
  border: $color-principal1 solid 1px
  margin-bottom: 0.5rem
  border-radius: 40px
  display: flex
  text-align: center
  padding: 0.3rem
  input
    background-color: inherit
    border: none
    width: 100%
    margin-left: 0.5rem
    font-size: 0.9rem
  input::placeholder
    color: $color-principal1
    font-size: 0.9rem

.user-logo
  border: solid 1px $color-principal1
  border-radius: 50%
  width: 32px  

.forgotPassword
  text-align: right
  font-size: 0.75rem
  color: #FFB800

.button-container
  display: flex
  justify-content: flex-end

.submitButton
  border: 1px solid $color-principal1
  border-radius: 30px
  padding: 10px 40px
  background-color: transparent
  font-size: 14px
  cursor: pointer
  