.navbar
  display: flex
  justify-content: flex-end
  img
    margin-left: 5px
    vertical-align: middle

.navbar2
  display: none

.linea
  border-bottom: solid $color-principal1 1px
  margin-top: 0.7rem
  
.titulo
  width: 200px
  display: block

.subtitulo
  font-size: 18px
  color: $color-principal1

.solapa
  width: 8.6875rem
  border: solid $color-principal1 1px
  border-bottom: none
  color: $color-principal1
  background: $color-principal3
  border-top-right-radius: 15px 
  display: flex
  align-items: center
  img
    padding: 1rem 0.6rem 1rem 0.9rem
  
.contenido
  font-family: 'Roboto'
  border: solid $color-principal1 1px
  border-radius: 0 15px 15px 15px
  padding: 0.94rem
  flex-grow: 1
  display: flex
  justify-content: center

.preview
  border: solid $color-principal1 1px
  border-radius: 0 25px 25px 25px
  background: $color-principal3
  padding: 0.94rem
  min-height: 117p
  color: $color-principal1

.texto
  font-size: 14px 
  line-height: 20px
  p
    font-family: 'Roboto'
  span
    color: $color-secundario1
  .green
    color: $color-secundario2
  .orange
    color: $color-secundario3
  .pink
    color: $color-secundario1
  .blue
    color: $color-secundario4

.input-box
  border: $color-principal1 solid 1px
  margin-bottom: 0.5rem
  border-radius: 40px
  display: flex
  text-align: center
  padding: 0.3rem
  input
    background-color: inherit
    border: none
    width: 100%
    margin-left: 0.5rem
    margin-right: 0.5rem
    font-size: 0.9rem
  input::placeholder
    color: $color-principal1
    font-size: 0.9rem

.user-logo
  border: solid 1px $color-principal1
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  padding: 0.4rem

.forgotPassword
  text-align: right
  font-size: 0.75rem
  margin-right: 0.5rem
  color: $color-secundario3

.button-container
  display: flex
  justify-content: flex-end

.submitButton
  border: 1px solid $color-principal1
  border-radius: 30px
  padding: 10px 30px
  background-color: transparent
  color: $color-principal1
  font-size: 14px
  cursor: pointer

.pinA2
  display: none

.pinB2
  display: none

@media (min-width: 800px)
  .linea
    display: none
  .navbar
    display: none
  .navbar2
    display: flex
    justify-content: flex-end
    margin-bottom: 0.94rem
    img
      margin-left: 5px
      vertical-align: middle
  .titulo
    width: 250px
  .subtitulo
    font-size: 1.2rem
    font-weight: 300
  .pinA2
    display: block
    margin-left: 37.94rem
    margin-top: 4.72rem
    width: 4rem
  .pinB2
    display: block
    margin-left: 40.5rem
    margin-top: 0.1rem
    width: 6.5rem
