.all 
  background-color: $color-principal3
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.portada-welcome
  background: url("../assets/Group1.svg"), linear-gradient(154deg, $color-principal3 0%, $color-principal2 124.22%)
  width: 19.6875rem
  height: 23.625rem
  border-radius: 1.5625rem
  position: relative

.pinA, .pinB, .logo
  position: absolute

.pinA
  width: 5.4375rem
  height: 5.4375rem
  margin-top: 4.12rem
  margin-left: 9.94rem

.pinB
  width: 7.3125rem
  height: 7.3125rem
  margin-top: -1.5rem
  margin-left: 13.06rem

.logo
  width: 17.8125rem
  height: 7.3125rem
  margin-top: 13.81rem
  margin-left: 0.94rem

.copete
  width: 19.6875rem
  margin-top: 0.94rem

.texto-copete, .boton-copete
  display: inline-block

.texto-copete
  p
    font-size: 0.75rem
    width: 7.31rem
    line-height: 0.9375rem
    margin-left: 0.37rem
  img
    width: 6.125rem
    height: 2.25rem

.boton-copete
  width: 60%
  height: 4.7rem
  vertical-align: top

.boton
  width: 10.875rem
  height: 3.75rem
  border: 1px solid white
  border-radius: 25px
  margin-top: 0.2rem  
  margin-left: 0.5rem  
  display: flex
  align-items: center
  padding: 0 1rem

.linea10
  flex: 1
  
.group9
  margin-left: -16%

@media (min-width: 800px)
  